<!doctype html public "-//W3C//DTD HTML 4.01//EN">
<title><%= title %></title>

<%= stylesheet_link_tag "mystyle", :media => "screen" %>

<div class="container">
  <%= render "layouts/header"  %>
      <div id="content" class="round">
        <%= yield %>
      </div>
  <%= render "layouts/footer"  %>
</div>
